@import "_underscore";
@import "_variables";
@import "_mixins";
@import "_mediaqueries";

@import url('https://fonts.googleapis.com/css?family=Questrial|Rokkitt');

.available{display: none;}

a:active, a:active * { outline: none !important; -moz-outline-style: none !important; }
a:focus, a:focus * { outline: none !important; -moz-outline-style: none !important; }

a,
a:visited, p > a, h2 > a, h4 > a {
    color: $oscurouno;

    &:hover{
        color: $oscurouno;

    }
}
#sb_instagram .sb_instagram_header h3.sbi_no_bio {
    padding-top: 9px!important;
    color: #000;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*font-family: 'questrial', sans-serif;
font-family: 'rokkitt', serif;
font-family: 'opensans', sans-serif;*/

@font-face {
    font-family: 'old';
    src: url('fonts/oldsh___-webfont.woff2') format('woff2'),
    url('fonts/oldsh___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a{
	color:#000;
}
.contenedor {
    padding: 4em 0;
}

.contenedor-fluid {
    padding: 8em 0;
}

.totop a{
    display: block;
        position: fixed;
        bottom: 33px;
        right: 33px;
        font-size: 1.2em;
        /*border: 2px solid;*/
        border-radius: 50%;
        padding: 0px 11px 3px;
        background-color: #fff;
        color: #000;
}
.carttotop a {display: none;}
.content-area {
    margin-top: 10%;
}

header {
    background-color: $blanco;
    padding: 1em;
    /*height: 17em;*/
    ul {

        padding-top: 0.6em;

        li {
            display: inline-block;
            /*margin-right: 4em;*/
            margin-right: 5%;
        }
    }

    .site-branding {
        padding: 2em 0.5em;
    }

	.menu-principal-container {
	    padding-left: 10%;
	}
    #primary-menu {
        padding-top: 2.2em;

        li {
            display: inline-block;
            a,
            a:visited {
                color: $negro;
                font-family: old;
                font-size: 1em;
                font-weight: 600;
                letter-spacing: 5px;

                &:hover {
                    color: $coral;
                    text-decoration: none;
                }
            }

            .sub-menu {
                width: 80vw;
                padding-top: 3em;
                li {
                    display: inline-block;

					.sub-menu{
						left: 0%;
						padding-top: 1em; 
						position: relative; 
						    width: auto;
						li{
							display: block;
							float: none;
							margin-bottom: 0.5em;
							a{
								font-size: 0.65em;
								letter-spacing: 1px;
							}
						}
					}
				}
			}
		}
	}

    .main-navigation ul ul {
        box-shadow: none;
    }
}

.menu-aux {
    padding-top: 3em;
    text-align: right;
    font-family: old;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.7em;

    ul{
        margin-left: -1em;

        li {
            margin-right: 1em;

            a,
            a:visited {
                color: $negro;

                &:hover {
                    color: $coral;
                    text-decoration: none;
                }
            }
        }
    }

    .aux-sinpadding {
        margin-right: 0;
        padding: 0;
    }

    .menu-aux-user {
        margin-left: 2em;
    }
}

.with-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header--home {
    /*background-color: transparent;*/
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;

    ul li a {}
}

.header__top {
    font-family: old;
    padding: 10em 0;
}

.header__left,
.header__right {
    padding: 5em 0;
}

.header__left, .header__right{
	font-family: old;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 75vh;
	
	.titulos__home{
		color:$blanco;
		font-size: 2em;
		letter-spacing: 10px;
		padding: 80px;

		a, a:visited{
			color:$blanco;
			text-decoration: none;
            // background-color: rgba(0,0,0,0.3);
            // padding: 10px;
        }
		
	}
}


/*.content-area {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}*/


/*Home*/

.titulo_seccion {
    color: $negro;
    font-family: old;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5em;
    letter-spacing: 4px;
    text-align: center;
}

.destacados__carrousel {
    margin-bottom: 5em;
}

.destacados__carrousel__item {
    font-family: old;
    padding: 2em 1em;
    text-align: center;

    img {
        padding: 0 1em;
    }

    li {
        list-style: none;
    }

    .woocommerce-loop-product__title {
        color: $negro;
        font-size: 0.7em;
        font-weight: 700;
        letter-spacing: 5px;
        line-height: 1.4em;
        margin-top: 4em;
        text-transform: uppercase;
    }

    .woocommerce-Price-amount.amount {
        color: $coral;
        font-size: 0.9em;
        font-weight: 700;
    }
}



/*footer*/

footer {
    border-top: 2px solid #F5F5F5;
    padding: 2em;
    padding-top: 4em;

    .footer__item {

        h3 {
            color: $negro;
            font-size: 0.7em;
            font-family: old;
            font-weight: 800;
            letter-spacing: 3px;
            margin-bottom: 1.5em;
                text-align: left;
        }

        ul {
            margin-left: -2.5em;

            li {
                display: block;
                float: none;
                margin-bottom: 5px;

                a,
                a:visited {
                    font-family: 'Questrial';
                    font-size: 0.6em;
                    font-weight: 500;
                    letter-spacing: 1px;
                    color: #bbbbbb !important;
                    text-transform: uppercase;

                    i {
                        color: $negro;
                        font-size: 2em;
                    }
                }
            }
        }

        #socialFooter-menu {
           
                li {
                    display: inline-block!important;
                    margin-right: 1em;
                }
            
        }
    }

    .newsletter {
        input {
            border-color: #BBBBBB;
            border-radius: none;
            padding: 1em;
            width: 80%;
        }

        button,input.wpcf7-submit {
            background-color: $negro;
            border: none;
            color: $blanco;
            font-family: old;
            font-size: 0.9em;
            letter-spacing: 3px;
            padding: 1em;
            width: 80%;
            margin-top: 1em;
        }
    }

    .copyright h4 {
        font-family: 'Questrial';
        font-size: 0.6em;
        font-weight: 500;
        letter-spacing: 1px;
        color: #bbbbbb;
        text-transform: uppercase;
        margin-top: 10em;
    }
    .whatsapp{
    	a{
            i{
                color: $gris!important;
                margin-right: 5px;
                font-size: 1.5em!important;
            }
        }
    }
}


.container {
    margin-top: 60px;
    margin-bottom: 60px;
}


/*Content page*/

.title__page {
    border-bottom: 2px solid #F5F5F5;
    color: $coral;
    font-family: old;
    font-size: 1.5em;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 2.5em;
    margin-top: 1em;
}

.contenido__page {
    padding-top: 4em;
    .addtoany_content{
    	display: none;
    }
    p {
        color: $negro;
        font-family: 'questrial', sans-serif;
        font-weight: 500;
        font-size: 0.9em;
        letter-spacing: 2px;
        padding: 0 3em;

        &:first-child {
            padding-top: 2em;
        }

        strong {
            font-family: old;
        }
    }
}



/*news*/

.news__items {
    padding: 0 3em;

    article {
        padding-bottom: 5em;

        h2 {
            font-family: 'old';
            font-size: 0.9em;
            letter-spacing: 5px;
            text-transform: uppercase;
            margin-bottom: 1em;
        }

        p {
            font-family: 'questrial';
            line-height: 2em;
            padding-left: 0;
            padding-right: 6em;
        }

        a,
        a:visited {
            color: $negro;
            display: block;
            font-family: 'old';
            font-size: 0.7em;
            letter-spacing: 5px;
            text-transform: uppercase;
            margin-top: 2em;
        }
    }
    .boton__back{
		text-align: center;

		a{
			border:1px solid $coral;
			color:$coral;
			font-weight: 600;
			padding: 1em 2em;
		}
	}
}

.article__single {
    padding-top: 4em;
    padding-bottom: 0em!important;

    img {
        padding-bottom: 4em;
    }

    p {
        padding-right: 0!important;
        padding-top: 2em!important;
    }
}


/*conctacto*/

.contacto {
    h3 {
        color: $negro;
        font-family: old;
        font-size: 0.9em;
        letter-spacing: 5px;
        line-height: 1.2em;        

        span {
            font-family: 'questrial';
        }
    }

    .item__contacto {
        padding-bottom: 1.5em;

        a {
            color: $negro;
            font-family: 'questrial';
            font-weight: 600;
            letter-spacing: 1px;
            font-size: 0.8em;
        }

        p {
            padding: 0;
            font-weight: 600;
            letter-spacing: 1px;
            font-size: 0.8em;
        }

        i {
            font-size: 1.5em;
            font-weight: 200;
            margin-right: 1em;
        }

        .newsletter {
            input {
                border-color: #BBBBBB;
                border-radius: none;
                padding: 1em;
                width: 60%;
            }

            button {
                background-color: $negro;
                border: none;
                color: $blanco;
                font-family: old;
                font-size: 0.9em;
                letter-spacing: 3px;
                padding: 1em;
                width: 60%;
                margin-top: 1em;
            }
        }

        form {

            input {
                border: 2px solid $gris;
                border-radius: 0;
                padding: 1em;
                margin-top: 1em;
                padding-right: 43%;
            }

            textarea {
                border: 2px solid $gris;
                border-radius: 0;
                padding: 1em;
                margin-top: 1em;
            }

            .parrafo__contact {
                border: 2px solid $gris;
                padding: 1.5em;
                height: 100px;
                overflow-y: scroll;
                margin-top: 2em;
                width: 102%;
            }

            .wpcf7-list-item {
                margin-left: 0;
                margin-top: 1em;
            }

            input[type=submit] {
                background-color: $negro;
                border: none;
                color: $blanco;
                font-family: old;
                font-size: 0.9em;
                letter-spacing: 3px;
                text-transform: uppercase;
                padding: 1.5em;
                width: 60%;
                margin-top: 1em;
            }
        }
    }

    .item__contacto__newsletter {
        margin-top: 2em;
    }
}




/*Account*/

.account{
	margin-top: 5em;

	h2{
		font-family: 'old';
		text-transform: uppercase;
		font-size: 1.2em;
		font-weight: 600;
		letter-spacing: 5px;
		text-align: center;
		margin-bottom: 3em;
	}

	.woocommerce-form-login, .woocommerce-ResetPassword, .woocommerce-form-register{
		width: 40%;
		min-width: 80%;
		margin-left: 30%;
		margin: 0 auto;

		label{
			color:$negro;
			font-family: 'old';
			font-size: 0.9em;
			letter-spacing: 5px;
			text-transform: uppercase;
			text-align: center;
			width: 100%;
		}

		input{
			border-radius: 0;
			padding: 0.8em;
			text-align: center;
			margin-bottom: 1.5em;
			width: 100%;
		}

		.woocommerce-Button{
			background-color: transparent;
			border:2px solid $negro;
			border-radius: 0;
			font-family: 'old';
			font-size: 0.9em;
			font-weight: 600;
			padding: 1.2em 1em;
			letter-spacing: 5px;
			width: auto;
			margin: 0 auto;
			text-transform: uppercase;
		}

		.woocommerce-form__label-for-checkbox{
			width: 36%;
			margin-left: 32%;
			margin-top: 2em;

			input{
				float: left;
				width: 10%;
				height: 25px;
			}

			span{
				font-family: 'questrial';
				float: right;
				text-transform: capitalize;
				letter-spacing: 1px;
				font-weight: 600;
				font-size: 1.2em;
			}

		}

		.lost_password{
			color:$negro;
			font-weight: 600;
			text-align: center;
			text-decoration: underline;
		}

		.woocommerce-MyAccount-content{
			margin-top: 2em;
			padding-top: 2em;

			form{
				width: 50%;
				margin-left: 25%;
				margin-top: 2em;
			}
		}

	}


	.woocommerce-message{
		margin-top: 2em;
	}

}


.woocommerce-info, .woocommerce-noreviews, p.no-comments {
    background-color: $blanco!important;
    border: 2px solid $negro;
    margin-top: 2em;
    padding: 1em;
}


.lookmovil{
    display: none !important;
}
.lookdesktop{
        display: block;
    }

    li#menu-item-735 {
    width: 90px;
}
/****************************woo******************************/

.select-tallas{
    border-radius: 2px;
    padding:10px;
}

.archive {
   /*  .content-area{
        padding-left: 0%!important;
    }*/
}

.available {
    padding: 0.4em 0.5em 0 0.5em;
    border: 1px solid;
    text-align: center;
    margin-bottom: 10px;
}
ul.products.columns-3 {
    width: 100%;
}


nav.woocommerce-breadcrumb {
    /*display: none;*/
    padding-bottom: 20px;
    color: #bbb;
    font-family: 'old';
    font-size: 0.7em;
        text-transform: lowercase;
    a{color:#bbb;}
}

header.woocommerce-products-header {
    display: none;
}

.woocommerce-page {
    .content-area {
        /*width: 75%;*/
        width: 80%;
    }
}


.woocommerce .woocommerce-ordering {
    margin: 0 0 1em;
}

.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering {
    float: right;
}

.woocommerce .products ul,
.woocommerce ul.products {
    margin: 0 0em 1em;
    padding: 0;
    list-style: none outside;
    clear: both;
    padding-top: 4em;
}

.woocommerce .woocommerce-result-count {
    margin: 0 0 1em;
   /* margin-left: 1em;*/
}

.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count {
    float: left;
}

ul.products {
    text-align: center;
    li {
        transition: transform .2s;
        /* Animation */
        img{margin: 0 auto;}
        a {
            color: $oscurodos;
            margin-bottom: 1.6em;
            display: block;
            text-decoration: none;
        }
        &:hover {
            box-shadow: 0px 9px 30px -5px #e9ecef;
            transform: scale(1.1);
            .add-to-cart-container {
                display: block;
            }
        }
    }
}

.woocommerce ul.products li.product .onsale {
    top: 0;
    right: 0;
    left: auto;
    margin: -.5em -.5em 0 0;
}

.woocommerce span.onsale {
    min-height: 3.236em;
    min-width: 3.236em;
    padding: .202em;
    font-size: 1em;
    font-weight: 700;
    position: absolute;
    text-align: center;
    line-height: 3.236;
    top: -.5em;
    left: -.5em;
    margin: 0;
    border-radius: 100%;
    background-color: #77a464;
    color: #fff;
    font-size: .857em;
    z-index: 9;
}

.woocommerce nav.woocommerce-pagination {
    text-align: center;
    ul {
        display: inline-block;
        white-space: nowrap;
        padding: 0;
        clear: both;
        /*border: 1px solid #d3ced2;*/
        border-right: 0;
        margin: 1px;
        li {
            display: inline-block;
            /*border-right: 1px solid #d3ced2;*/
            padding: 0;
            margin: 0;
            float: left;
            display: inline;
            overflow: hidden;
            a {
                margin: 0;
                text-decoration: none;
                padding: 0;
                line-height: 1;
                font-size: 1em;
                font-weight: 400;
                padding: .5em;
                min-width: 1em;
                display: block;
                color: #bbb;
            }
            span.current {
                /*background: #ebe9eb;*/
                color: #000;
                margin: 0;
                text-decoration: none;
                padding: 0;
                line-height: 1;
                font-size: 1em;
                font-weight: 400;
                padding: .5em;
                min-width: 1em;
                display: block;
            }
            a.next.page-numbers {
                color: #000;
            }
        }
    }
}

p.woocommerce-result-count {
    text-transform: uppercase;
    font-family: 'old';
    letter-spacing: 3px;
    font-size: 0.8em;
    color: #bbb;
}
p.woocommerce-ordering{
	font-size: 0.7em;
}

select.orderby.custom-select {
    font-family: old;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.8em;
    border: none;
    margin-top: -9px;
    color: #bbb;
}

h2.woocommerce-loop-product__title {
    margin-top: 2.2em;
    text-transform: uppercase;
    font-family: 'old';
    letter-spacing: 3px;
    font-size: 0.85em !important;
}

.add-to-cart-container {
    display: none;
    a.add_to_cart_button {
        background-color: #000000;
        border: none;
        color: #fff;
        font-family: old;
        font-size: 0.8em;
        letter-spacing: 3px;
        padding: 1.2em;
        border-radius: 0;
        text-transform: uppercase;
        &:hover {
            background-color: #353535;
            border-color: #353535;
        }
    }
}

.woo.row {
    flex-direction: row-reverse;
    justify-content: space-between;
}

span.woocommerce-Price-amount.amount {
    font-family: 'questrial', sans-serif;
    color: $coral;
}

.widget {
	h2.widget-title {
	    text-transform: uppercase;
	    font-family: 'old';
	    letter-spacing: 3px;
	    font-size: 0.75em;
	}
    a {
        color: #000;
        font-size: 0.8em;
	    font-weight: 600;
	    letter-spacing: 1px;
        &:hover {
            color: #ce9a90;
            text-decoration: none;
        }
    }

    ul.product-categories {
    	font-family: 'old';
        /*font-family: 'questrial', sans-serif;*/
        margin-left: 0px;
    }
    ul.children {
        padding-left: 0px;
        margin-left: 10px;
    }
    button.button {
        background-color: #000000;
        border: none;
        color: #fff;
        font-family: old;
        font-size: 0.9em;
        letter-spacing: 3px;
        padding: 0.5em;
        width: 100%;
        margin-top: 1em;
    }
}

.widget-area {
    padding-top: 117px;
    width: 200px;
    color: $gris;
    .price_label {
        text-align: center;
    }
    a{color: $gris; font-size: 0.72em;}
}
/*.product-categories{
	color: $gris;
	a{
		color: $gris;
	}
}*/

.widget_price_filter .ui-slider .ui-slider-range,
.widget_price_filter .ui-slider .ui-slider-handle {
    background: #000 !important;
    border-radius: 50%;
}
li.outofstock {
	.add-to-cart-container {
		a {
		    background-color: #000000;
		    border: none;
		    color: #fff;
		    font-family: old;
		    font-size: 0.8em;
		    letter-spacing: 3px;
		    padding: 1.2em;
		    width: 100%;
		    border-radius: 0;
		    text-transform: uppercase;
		}
	}
}
.product-template-default {
    .content-area {
        width: 100%;
    }
    .widget-area {
        display: none;
    }
    .woocommerce-product-gallery {
        width: 53%;
        margin-left: 140px;
        float: left;
    }
    ol.flex-control-nav.flex-control-thumbs {
        position: absolute;
        left: -140px;
        top: 0px;
        width: 100px;
        li {
            width: 90%;
            min-width: 90%;
            margin-bottom: 10px;
        }
    }
    span.onsale {
        left: 11em;
        top: 0.5em;
    }
    .summary.entry-summary {
        float: right;
        width: 31.5%;
        clear: right;
        margin-top: 0px;
        font-family: 'questrial', sans-serif;
        a {
            color: #000;
        }
        h1.product_title.entry-title {
            font-family: "old";
            text-transform: uppercase;
            font-size: 0.99em;
            letter-spacing: 3px;
        }
        p {
            font-family: 'questrial', sans-serif;
            font-size: 0.95em;
        }
        .quantity {
            width: 20%;
            float: left;
            margin-right: 10px;
            input {
                width: 100%;
                border: 1px solid #ddd;
                border-radius: 0px;
                padding: 0.3em 0.5em;
                text-align: right;
            }
        }
        button.btn {
            background-color: #000000;
            border: none;
            color: #fff;
            font-family: old;
            font-size: 0.8em;
            letter-spacing: 3px;
            padding: 0.65em;
            width: 76%;
            border-radius: 0;
            text-transform: uppercase;
        }
        .product_meta {
            .info {
                a {
                    font-family: 'questrial', sans-serif;
                    font-size: 0.8em;
                    color: #000;
                }
            }
            span.sku_wrapper {
			    display: none;
			}
			span.posted_in {
			    display: none;
			}

        }
        span.woocommerce-Price-amount.amount {
            font-size: 1.2em;
        }
        p.stock.in-stock {
        	display: none;
            color: #ddd;
        }
        .variations {
            margin-bottom: 0px;

            select {
                width: 100%;
                border: 1px solid #ddd;
                border-radius: 0px;
                padding: 0.7em 0.5em;
                text-align: right;
            }
            .label {
                font-family: old;
                font-size: 0.8em;
                letter-spacing: 3px;
                text-transform: uppercase;
            }

        }
    }
    .woocommerce-tabs {
        clear: both;
        border-top: 1px solid #ddd;
        display: inline-block;
        margin-top: 2em;
        width: 100%;
        padding-top: 2em;
        padding-bottom: 4em;

        ul.tabs {
            width: 20%;
            float: left;
            min-width: 170px;
            margin-top: 1.5em;
            li {
                a {
                    font-family: old;
                    font-size: 0.7em;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    padding-top: 0;
                    color: #000;
                }
            }
        }
        .woocommerce-Tabs-panel {
            float: right;
            width: 80%;
            clear: none;
            font-family: 'questrial', sans-serif;
            padding-left: 3em;
            h2 {
                font-family: old;
                font-size: 0.7em;
                letter-spacing: 3px;
                text-transform: uppercase;
            }
            p{    font-size: 0.95em;}
            .shop_attributes{
            	font-size: 0.8em;
            }
        }
    }
    section.related.products {
        text-align: center;
        border-top: 1px solid #ddd;
        margin-top: 3.5em;

        padding-top: 2em;
        padding-bottom: 4em;
        h2 {
            font-family: old;
            font-size: 1em;
            letter-spacing: 3px;
            text-transform: uppercase;
        }
    }
}

.modal {
    .modal-lg {
        min-width: 1000px;
    }
    .modal-header {
        border-bottom: none;
        padding: 1em 1em 0px;
    }
    .modal-body {
        h3 {
            font-family: old;
            font-size: 1em;
            letter-spacing: 3px;
            text-transform: uppercase;
        }
        tr {
            color: #ddd;
        }
        .table td {
            border-top: none;
        }
        .table tr:first-child {
            border-bottom: 1px solid #dee2e6;
        }
        .table tr:nth-child(4) {
            border-bottom: 1px solid #dee2e6;
        }
        tr.tf {
            color: #000;
        }

        .old {
            font-family: old;
            font-size: 0.8em;
            letter-spacing: 3px;
            text-transform: uppercase;
        }
    }
    .formulario {
        text-align: center;
        h5 {
            font-family: old;
            font-size: 1em;
            letter-spacing: 3px;
            text-transform: uppercase;
        }
        label {
            margin-top: 20px;
        }
        input {
            padding: 10px;
        }
        input.wpcf7-form-control.wpcf7-submit {
            background-color: #000000;
            border: none;
            color: #fff;
            font-family: old;
            font-size: 0.8em;
            letter-spacing: 3px;
            padding: 1.2em;
            width: 60%;
            border-radius: 0;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
    }
}

.woocommerce-message {
    padding: 1em 2em;
    margin-bottom: 1em;
    background-color:  #f9f9f9 !important;
    font-family: 'questrial', sans-serif;
    a {
        font-family: old;
        font-size: 0.8em;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #000;
        padding: 0.5em 1.2em;
        border: 1px solid #000;
        margin-right: 10px;

        &:hover {
            color: #000;
        }
    }
}

.woocommerce-info {
    padding: 1em 2em;
    margin-bottom: 1em;
    background-color:  #f9f9f9 !important;
    font-family: 'questrial', sans-serif;
    border: none;
    a {
        font-family: old;
        font-size: 0.8em;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #000;
        padding: 0.5em 1.2em;
        border: 1px solid #000;
        margin-right: 10px;
        margin-left: 10px;

        &:hover {
            color: #000;
        }
    }
}

.woocommerce-cart-form {
    font-family: old;
    font-size: 0.8em;
    letter-spacing: 3px;
    text-transform: uppercase;

    a.remove {
        display: block;
    }
    th {
        font-family: old;
        font-size: 0.8em;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    td.product-price,
    td.product-quantity,
    td.product-subtotal {
        font-family: 'questrial', sans-serif;
    }
    td.product-thumbnail {
        width: 120px;
        img {
            width: 100px;
        }
    }
    .quantity {
        input {
            width: 70px;
            border: none;
            text-align: right;
        }
    }
    td.product-name {
        a {
            color: #000;
        }
    }
    .woocommerce-cart-form__cart-item {
        button.btn {
            background-color: #fff;
            border: none;
            color: #000;
            font-family: old;
            font-size: 0.8em;
            letter-spacing: 3px;
            padding: 0.7em;
            border-radius: 0;
            text-transform: uppercase;
        }
    }
    button.btn {
        background-color: #000000;
        border: none;
        color: #fff;
        font-family: old;
        font-size: 0.8em;
        letter-spacing: 3px;
        padding: 1.5em;
        width: 76%;
        border-radius: 0;
        text-transform: uppercase;
    }
    .inline-input {
        display: flex;
        margin-top: 3em;
    }
}

.cart-collaterals {
    width: 43%;
    float: right;
    padding: 4em 1em 1em 2em;
    margin-top: -11.5em;
    border-left: 2px solid #f5f5f5;
}

tr.cupon {
    border-bottom: 2px solid #f5f5f5;
    td {
        padding: 3em;
    }
}

.coupon {
    padding-top: 5em;
}

.cart_totals {
    font-family: old;
    font-size: 0.8em;
    letter-spacing: 3px;
    text-transform: uppercase;
    h2 {
        font-size: 1em;
        padding-bottom: 1em;
    }
    td[data-title="Total"] {
        text-align: right !important;
    }
    td[data-title="Subtotal"] {
        text-align: right !important;
    }
    tr.shipping {
        th {
            vertical-align: baseline;
        }
        span.woocommerce-Price-amount.amount {
            float: right;
        }
    }
    form.woocommerce-shipping-calculator {
        p {
            padding: 5px 0 0;
            a {
                color: #000;
                margin-top: 1em;
            }
        }
    }
    .wc-proceed-to-checkout {
        a {
            background-color: #000000;
            border: none;
            color: #fff;
            font-family: old;
            font-size: 0.8em;
            letter-spacing: 3px;
            padding: 1.5em;
            width: 64%;
            border-radius: 0;
            text-transform: uppercase;
            float: right;
        }
    }
}

.checkout {
    h3 {
        font-family: old;
        font-size: 1em;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    .woocommerce-billing-fields__field-wrapper {
	    padding: 1em 2em 1em 0.4em;
	}
    p.form-row {
    	padding: 0px;
	    label {
		    width: 100%;
		    text-transform: uppercase;
		}
		span.woocommerce-input-wrapper {
		    width: 100%;
		    input{
		    	width: 100%;
		    	border-color: #BBBBBB;
	            border-radius: none !important;
	            padding: 0.6em;
	           
		    }
		}
		p#billing_email_field {
		    width: 50%;
		    float: right;
		}
		p#billing_phone_field {
		    width: 50%;
		    float: left;
		}
		.select2-selection{
			height: 40px;
   			padding-top: 5px;
   			.select2-selection__arrow{
   				margin-top: 5px;
   			}
		}

		textarea#order_comments {
		    width: calc( 100% - 2em);
		}
	}
	.shop_table{
		th{
			font-family: old;
	        font-size: 0.8em;
	        letter-spacing: 3px;
	        text-transform: uppercase;
		}
	}
	 button.btn {
        background-color: #000000;
        border: none;
        color: #fff;
        font-family: old;
        font-size: 0.8em;
        letter-spacing: 3px;
        padding: 1.5em;
        width: 100%;
        border-radius: 0;
        text-transform: uppercase;
    }
    .order{
    	 border-left: 2px solid #f5f5f5;
    	 .woocommerce-checkout-payment{
    	 	ul{	
    	 		margin-left: 0px;
    	 		    list-style: none;
    	 	}
    	 }
    }
}
.woocommerce-error {
    background-color: #fff !important;
    border: 1px solid #e2401c;
    padding: 1em 3em;
    margin-left: 23px;
    color: #e2401c;
}
td.product-total, tr.cart-subtotal td, tr.shipping td, tr.order-total td {
    text-align: right;
}
.woocommerce-order{
	h2.woocommerce-order-details__title {
		font-family: old;
        font-size: 1em;
        letter-spacing: 3px;
        text-transform: uppercase;
	    margin-top: 5em;
	}
	th{
		font-family: old;
        font-size: 0.8em;
        letter-spacing: 3px;
        text-transform: uppercase;
	}
	a{
		color:#000;
	}
	td.product-total{
		text-align: left;
	}
	.addresses{
		display: flex;
		h2{
			font-family: old;
	        font-size: 1em;
	        letter-spacing: 3px;
	        text-transform: uppercase;
		}
	}
}
p.return-to-shop{
	a.btn{
		background-color: #000000;
        border: none;
        color: #fff;
        font-family: old;
        font-size: 0.8em;
        letter-spacing: 3px;
        padding: 1.5em;
        /*width: 100%;*/
        border-radius: 0;
        text-transform: uppercase;
	}
}

form.woocommerce-form-login.login {
    width: 50%;
    button.btn{
    	background-color: #000000;
	    border: none;
	    color: #fff;
	    font-family: old;
	    font-size: 0.8em;
	    letter-spacing: 3px;
	    padding: 1.5em;
	    width: 100%;
	    border-radius: 0;
	    text-transform: uppercase;
	    margin-bottom: 8px;
    }
    a{
    	color:#000;
    }
}
form.checkout_coupon.woocommerce-form-coupon{
	width: 50%;
    button.btn{
    	background-color: #000000;
	    border: none;
	    color: #fff;
	    font-family: old;
	    font-size: 0.8em;
	    letter-spacing: 3px;
	    padding: 1.5em;
	    width: 100%;
	    border-radius: 0;
	    text-transform: uppercase;
	    margin-bottom: 8px;
    }
    a{
    	color:#000;
    }
}
.woocommerce-account{
	a{
		color: $negro;
	}
	h3{
		font-family: 'old';
		text-transform: uppercase;
		font-size: 1em;
		font-weight: 600;
		letter-spacing: 5px;
		text-align: center;
		margin-bottom: 1.5em;
		}
		button.btn{
			background-color: transparent;
			border:2px solid $negro;
			border-radius: 0;
			font-family: 'old';
			font-size: 0.9em;
			font-weight: 600;
			padding: 1.2em 1em;
			letter-spacing: 5px;
			width: auto;
			margin-left: 32%;
			text-transform: uppercase;
			color: $negro;
		}
	.woocommerce-address-fields, .woocommerce-EditAccountForm, .woocommerce-MyAccount-content{
		th{
			font-family: 'old';
			text-transform: uppercase;
			letter-spacing: 5px;
		}
		h2{
		font-family: 'old';
		text-transform: uppercase;
		font-size: 1.2em;
		font-weight: 600;
		letter-spacing: 5px;
		text-align: center;
		margin-bottom: 3em;
		}
		
		label{
			color:$negro;
			font-family: 'old';
			font-size: 0.9em;
			letter-spacing: 5px;
			text-transform: uppercase;
			text-align: center;
			width: 100%;
		}
		input{
			border-radius: 0;
			padding: 0.8em;
			text-align: center;
			margin-bottom: 1.5em;
			width: 100%;
		}
		.woocommerce-input-wrapper{
			width: 100%;
		input{
			border-radius: 0;
			padding: 0.8em;
			text-align: center;
			margin-bottom: 1.5em;
			width: 100%;
		}
		.select2-selection{
			height: 50px;
		    border-radius: 0;
		    padding: 10px;
		}
		span.select2-selection__arrow {
		    margin-top: 10px;
		}
		

	}
	fieldset {
	    text-align: center;
	}
	legend {
			    text-align: center;
			    font-family: 'old';
			font-size: 0.9em;
			letter-spacing: 5px;
			font-size: 1.2em;
	}
	
}
}
.popBuscar{
	input{
		padding: 0.5em;
	    width: 70%;
	    border-radius: 0px;
	}
	input#searchsubmit {
	    border: none;
	    color: #fff;
	    font-family: old;
	    font-size: 0.8em;
	    letter-spacing: 3px;
	    padding: 1.17em;
	    width: 25%;
	    border-radius: 0;
	    text-transform: uppercase;
	    background-color: #000;
	}

}
@media screen and (min-width: 1025px) and (max-width: 1350px) {
    header .menu-principal-container {
        padding-left: 0%;
    }
    header ul li {
        margin-right: 3.5%;
        a{
                font-size: 0.79em;
        }
    }
    header #primary-menu {
        /*padding-top: 1.9em;*/
    }
}
@media screen and (max-width: 1280px) {
    header #primary-menu li a, header #primary-menu li a:visited{
        font-size: 14px;
    }
}


@media screen and (max-width: 1024px) {
    
    .contenedor{
        padding: 2em 0!important;
    }

    header {
        .site-branding{
            padding:0em!important;
            img{
                padding-top: 2.5em;
                width: 70%;
                margin-left: 15%;
            }
        }

        ul{
            li{
                margin-right: 1em!important;
            }
        }
        
    }

    .news__items{
        h2{
            margin-top: 2em;
        }
    }

    .contacto .item__contacto form input {
       padding-right: 0%;
    }

    .add-to-cart-container a.add_to_cart_button {
        font-size: 0.7em;
        white-space: normal;
    }

}



@media screen and (max-width: 768px) {
    /*
    .related{
        margin-left: -2.5em;
    }
*/
    .lookmovil{
        display: block;
    }
    .lookdesktop{
        display: none;
    }

    #auxiliar-menu{
        display: none;
    }

    .title__page {
        padding-bottom: 1.5em;
        padding-top: 2em;
        margin-top: 2em;
    }

    .footer__item {
        margin-top: 1em;
        ul{
            margin-left: -2.5em;
        }

        #socialFooter-menu {
            li{
                    display: inline;
                    margin-left: 10px;
                }
            
        }
    }

    .news__items{
        padding: 0 1em!important;



         article p {
            padding-right: 0em;
        }       
    }

    .contacto{
        padding: 0 16px;
    }

    .woocommerce-page .content-area {
        padding-left: 10%;
        width: 100%;
    }

    .product{
        margin-bottom:4em!important;
    }

    .widget-area {
        width: 100%;
        padding: 0 2em;
    }

    /*producto*/

    .product-template-default .summary.entry-summary {
        float: none; 
        width: 90%;

        .product_title{
            padding-top: 2em;
        }
    }

    .modal .modal-lg {
        min-width: 80%;
    }

    .woocommerce-message {
        padding: 2em 2em;
        margin-left: -3em;
    }

    .woocommerce-cart-form{
        padding: 0 2em;

        .updatecart{
            button.btn{
            	width: 100%;
            }
        }
    
        .product-subtotal{
            margin-bottom: 4em;
        }

        .product-name{
            padding-top: 2em;
        }

    }

    .woocommerce-cart-form {
    	td.product-thumbnail {
	        width: 100%!important;

	        img{
	            width: 100%!important;
	        }
	    }
        a.remove {

		    margin: 1.5em;
		    text-align: center;
		}
    }

     .cart-collaterals {
		    width: 100%;
		    margin-top: 0;
		    .cart_totals {
		    	.wc-proceed-to-checkout {
		    		a {
					    
					    width: 100%;
					 } 
				}	   
			}

	}   
	.woocommerce-info a,.woocommerce-message a {
	    
	    display: block;
	}
	form.checkout.woocommerce-checkout {
	    padding: 1em;
	    .order {
		    padding: 1em !important;
		}
	}
	form.checkout_coupon.woocommerce-form-coupon,form.woocommerce-form-login.login {
	    width: 100%;
	}
	.woocommerce-order-details {
	    padding: 0 2em;
	}
	.woocommerce-customer-details {
	    padding: 0 2em;
	}

    .menu-toggle{
        background-color: transparent;
        border:none;
        margin-left: 40%;
        margin-top: 1em;
    }

    .header__left .titulos__home, .header__right .titulos__home {
        font-size: 1em;
        padding: 0px;
        
    }

   
   .superior{
        background-size: contain;
        height: auto;
        margin-top: 20%;
   }

		    

	.home{
	    .contenedor{
	    	.row{
	    		margin: 0px !important;
	    	}
	    }
	}
	
    .product-template-default ol.flex-control-nav.flex-control-thumbs {
	    position: inherit;
	    width: 100%;
	    left: 0;
	}
	.product-template-default .woocommerce-product-gallery {
	    width: 90%;
	    margin-left: 0px;
	    float: none;
	}
	.product-template-default ol.flex-control-nav.flex-control-thumbs li {
   
	    min-width: auto;
	    margin-bottom: 10px;
	}
	.product-template-default .woocommerce-tabs .woocommerce-Tabs-panel {
	    float: none;
	    width: 90%;
	    padding-top: 15px;
        padding-left:0em;
	}
	ul.woocommerce-error, .woocommerce-info {
	    margin-top: 17%;
	    margin-left: 0;
	    margin-right: 35px;
	}
	.totop a {
		display: block;
	    position: fixed;
	    bottom: 33px;
	    right: 33px;
	    font-size: 1.2em;
	    /*border: 2px solid;*/
	    border-radius: 50%;
	    padding: 0px 11px 3px;
	    background-color: #fff;
	    color: #000;
	}
	.carttotop a{
	    display: block;
	    position: fixed;
	    bottom: 33px;
	    right: 74px;
	    font-size: 1.2em;
	    /* border: 2px solid; */
	    border-radius: 50%;
	    padding: 1px 9px 3px;
	    background-color: #fff;
	    color: #000000;

	}
	
   .superior__moviles{
        height: 50vh;
        background-size: contain;
        margin-top: 45%;
    }

    .menu-principal-container {
	    
    	padding-left: 0% !important;

	    ul#primary-menu{
	    	text-align: center;
            padding-top: 1em;
		     li {
			    /*text-align: center;*/
                 text-align: left;
                padding-left: 0%;
			    float: initial;
                width: 100%;
			    margin: 0 1% !important;
                a{
                    background-color: #f5f5f5;
                    padding: 5px 0% 5px 5%;
                }
			}
		}
		ul.sub-menu {
            /*display: none;*/
			padding-top: 1em !important;
		    width: 100vw !important;
		    background-color: #fff;
		    padding-bottom: 8px;
		    position: initial;
            background-color:#fff;
            /*margin-left:20%;*/
    		/*left: -87% !important;*/
    		li{
    			text-align: left !important;
                padding-left: 0px !important;
                background-color:#fff;
    			/*padding-left: 12%;*/
    			    padding-bottom: 10px;
                    a{font-size: 0.76em !important; background-color:#fff !important;
                        padding: 0px 0px 0px 12% !important;}
    		}
    		ul.sub-menu{ /*display: none;*/
                font-size: 1em;
    			    position: initial;
                        margin-left: 3%;
    			    li{
    			    	padding-left: 0px;
    			    	padding-bottom: 5px;
    			    }
    		}
		}
	}
    nav.woocommerce-breadcrumb {
	    margin-top: 4em;
	    display: block;
	}
    ul.products {
        padding-right: 10% !important;
    }
    section.related.products {
        margin-right: 10%;
        img{margin-top: 0 auto;}
        ul.products {
        padding-right: 2% !important;
    }
    }

}


