@import "_underscore";
@import "_variables";
@import "_mixins"; 

@import url('https://fonts.googleapis.com/css?family=Questrial|Rokkitt');
a, a:visited{
	color:$oscurouno;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*font-family: 'questrial', sans-serif;
font-family: 'rokkitt', serif;
font-family: 'opensans', sans-serif;*/



@font-face {
    font-family: 'old';
    src: url('fonts/oldsh___-webfont.woff2') format('woff2'),
         url('fonts/oldsh___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.contenedor{
	padding: 4em 0;
} 

.contenedor-fluid{
	padding: 8em 0;
} 


.content-area{
	margin-top: 10%;
}

header{
	background-color: $blanco;
	padding: 1em;
	/*height: 17em;*/

	ul {
		
		padding-top: 0.6em;

		li{
			display: inline-block;
			margin-right: 4em;
		}
	}

	.site-branding{
		padding: 2em;
	}

	#primary-menu{
		padding-top: 2.2em;

		li{
			display: inline-block;
			a, a:visited{
				color:$negro;
				font-family: old;
				font-size: 0.8em;
				font-weight: 600;
				letter-spacing: 5px;

				&:hover{
					color:$coral;
					text-decoration: none;
				}
			}

			.sub-menu{
				width: 80vw;
				padding-top: 3em;
				li{
					display: inline-block;

					.sub-menu{
						left: 0%;
						padding-top: 2em; 
						    width: auto;
						li{
							display: block;
							float: none;
							margin-bottom: 0.5em;
							a{
								font-size: 0.65em;
								letter-spacing: 1px;
							}
						}
					}
				}
			}
		}
	}

	.main-navigation ul ul {
   		 box-shadow: none;
   	}

}

.menu-aux{
	padding-top: 1.5em;
	text-align: right;
	li{
		margin-right: 1em;

		a, a:visited{
			color:$negro;

			&:hover{
				color:$coral;
				text-decoration: none;
			}
		}
	}

	.aux-sinpadding{
		margin-right: 0;
		padding: 0; 
	}

	.menu-aux-user{
		margin-left: 2em;
	} 
}

.with-background{
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center;
}

.header--home{
	background-color: transparent;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;

	ul li a{
		
	}
}

.header__top{
	font-family: old;
	padding: 10em 0; 

	
}

.header__left, .header__right{
	padding: 5em 0;
}

.header__left, .header__right{
	font-family: old;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 75vh;
	
	.titulos__home{
		color:$blanco;
		font-size: 2em;
		letter-spacing: 10px;
		padding: 80px;
		
	}
}

/*.content-area {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}*/

/*Home*/

.titulo_seccion{
	color:$negro;
	font-family: old;
	font-size: 1em;
	font-weight: 600;
	line-height: 1.5em;
	letter-spacing: 4px;
	text-align: center;
}

.destacados__carrousel{
	margin-bottom: 5em;
}

.destacados__carrousel__item{
	font-family: old;
	padding: 2em 1em;
	text-align: center;

	img{
		padding: 0 1em;
	}

	li{
		list-style: none;
	}

	.woocommerce-loop-product__title{
		color:$negro;
		font-size: 0.7em;
		font-weight: 700;
		letter-spacing: 5px;
		line-height: 1.4em;
		margin-top: 4em;
		text-transform: uppercase;
	}

	.woocommerce-Price-amount.amount{
		color:$negro;
		font-size: 0.9em;
		font-weight: 700;
	}

} 


/*footer*/
footer{
	border-top:2px solid #F5F5F5;
	padding: 2em;
	padding-top: 4em;

	.footer__item{

		h3{
			color:$negro;
			font-size: 0.9em;
			font-family: old;
			font-weight: 800;
			letter-spacing: 3px;
			margin-bottom: 1.5em;
		}

		ul{
			li{
				display: block;
				float:none;
				margin-bottom: 0.9em;

				a, a:visited{
					font-family: 'Questrial';
					font-size: 0.8em;
					font-weight: 500;
					letter-spacing: 1px;
					color:#bbbbbb;
					text-transform: uppercase;

					i{
						color:$negro;
						font-size: 2em;
					}
				}
			}
		}

		.socialFooter{
			ul{
				li{
					display: inline-block;
					margin-right: 1em;
				}
			}
		}
	}

	.newsletter{
		input{
			border-color:#BBBBBB;
			border-radius: none;
			padding: 1em;
			width: 80%;
		}

		button{
			background-color: $negro;
			border:none;
			color:$blanco;
			font-family: old;
			font-size: 0.9em;
			letter-spacing: 3px;
			padding: 1em;
			width: 80%;
			margin-top: 1em;
		}
	}

	.copyright h4{
		font-family: 'Questrial';
		font-size: 0.6em;
		font-weight: 500;
		letter-spacing: 1px;
		color:#bbbbbb;
		text-transform: uppercase;
		margin-top: 10em;
	}
}


.container {
    margin-top: 60px;
    margin-bottom: 60px;
}

/*Content page*/

.title__page{
	border-bottom:2px solid #F5F5F5;;
	color:$coral;
	font-family: old;
	font-size: 2.1em;
	letter-spacing: 7px;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 3em;
}

.contenido__page{
	padding-top: 4em;

	p{
		color:$negro;
		font-family: 'questrial', sans-serif;
		font-weight: 500;
		font-size: 0.9em;
		letter-spacing: 2px;
		padding: 0 3em;

		&:first-child{
			padding-top: 2em;
		}

		strong{
			font-family: old;
		}
	}
}


/*news*/

.news__items{
	padding: 0 3em;

	article{
		padding-bottom:5em;

		h2{
			font-family: 'old';
			font-size: 1.2em;
			letter-spacing: 5px;
			text-transform: uppercase;
			margin-bottom: 1em;
		}

		p{
			font-family: 'questrial';
			line-height: 2em;
			padding-left:0;
			padding-right: 6em;

		}

		img{
			padding: 0 3em;
		}

		a, a:visited{	
			color:$negro; 
			display: block;
			font-family: 'old';
			font-size: 1.2em;
			letter-spacing: 5px;
			text-transform: uppercase;
			margin-top: 2em;
		}
	}

}





/****************************woo******************************/
nav.woocommerce-breadcrumb {
    display: none;
}
header.woocommerce-products-header {
    display: none;
}
.woocommerce-page {
	.content-area {
    	width: 75%;
	}
}


.woocommerce .woocommerce-ordering {
    margin: 0 0 1em;
}
.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
    float: right;
}
.woocommerce .products ul, .woocommerce ul.products {
    margin: 0 0em 1em;
    padding: 0;
    list-style: none outside;
    clear: both;
        padding-top: 4em;
}
.woocommerce .woocommerce-result-count {
    margin: 0 0 1em;
}
.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {
    float: left;
}
ul.products{
		text-align: center;
	li{
		transition: transform .2s; /* Animation */
		a{
			color: $oscurodos; 
			margin-bottom: 1.6em;
    		display: block;
    		text-decoration: none;
    	}
    	&:hover{
    		    box-shadow: 0px 9px 30px -5px #e9ecef;
    		transform: scale(1.1);
    	}

	}
}
.woocommerce ul.products li.product .onsale {
    top: 0;
    right: 0;
    left: auto;
    margin: -.5em -.5em 0 0;
}
.woocommerce span.onsale {
    min-height: 3.236em;
    min-width: 3.236em;
    padding: .202em;
    font-size: 1em;
    font-weight: 700;
    position: absolute;
    text-align: center;
    line-height: 3.236;
    top: -.5em;
    left: -.5em;
    margin: 0;
    border-radius: 100%;
    background-color: #77a464;
    color: #fff;
    font-size: .857em;
    z-index: 9;
}
.woocommerce nav.woocommerce-pagination {
    text-align: center;
    ul{
    	display: inline-block;
    white-space: nowrap;
    padding: 0;
    clear: both;
    /*border: 1px solid #d3ced2;*/
    border-right: 0;
    margin: 1px;
    	li{
    		    display: inline-block;
    		    /*border-right: 1px solid #d3ced2;*/
			    padding: 0;
			    margin: 0;
			    float: left;
			    display: inline;
			    overflow: hidden;
	    	a{
	    		    margin: 0;
				    text-decoration: none;
				    padding: 0;
				    line-height: 1;
				    font-size: 1em;
				    font-weight: 400;
				    padding: .5em;
				    min-width: 1em;
				    display: block;
				    color: #bbb;
	    	}
	    	span.current {
			    /*background: #ebe9eb;*/
			    color: #000;
			    margin: 0;
			    text-decoration: none;
			    padding: 0;
			    line-height: 1;
			    font-size: 1em;
			    font-weight: 400;
			    padding: .5em;
			    min-width: 1em;
			    display: block;
			}
			a.next.page-numbers {
			    color: #000;
			}
    	}
    }
}
p.woocommerce-result-count {
    text-transform: uppercase;
        font-family: 'old';
            letter-spacing: 3px;
    font-size: 0.9em;
    color: #bbb;
}
select.orderby.custom-select {
    font-family: old;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.9em;
    border: none;
    margin-top:-9px;
}
h2.woocommerce-loop-product__title {
    margin-top: 2.2em;
    text-transform: uppercase;
    font-family: 'old';
    letter-spacing: 3px;
    font-size: 0.9em !important;

}
.add-to-cart-container {
    display: none;
}

h2.widget-title {
    text-transform: uppercase;
    font-family: 'old';
    letter-spacing: 3px;
    font-size: 0.9em;
    
}
.woo.row {
    flex-direction: row-reverse;
        justify-content: space-between;
}

span.woocommerce-Price-amount.amount {
    font-family: 'questrial', sans-serif;
}
.widget{
	a{
		color:#000;
		&:hover{
			color:	#ce9a90;
			text-decoration: none;
		}
	}

 	ul.product-categories {
   	 	font-family: 'questrial', sans-serif;
    	margin-left: 0px;
	}
	ul.children {
	    padding-left: 0px;

	}
	button.button {
	    background-color: #000000;
	    border: none;
	    color: #fff;
	    font-family: old;
	    font-size: 0.9em;
	    letter-spacing: 3px;
	    padding: 0.5em;
	    width: 100%;
	    margin-top: 1em;
	}
}
.widget-area{
	padding-top: 117px;
	    width: 160px;
	.price_label{
		text-align: center;
	}
}
.widget_price_filter .ui-slider .ui-slider-range,.widget_price_filter .ui-slider .ui-slider-handle{
     background: #000 !important;
     border-radius: 50%;
}


.product-template-default{
	.content-area{
		width: 100%;
	}
	.widget-area{
		display: none;
	}
	.woocommerce-product-gallery{
	    width: 53%;
	    margin-left: 140px;
	    float: left;
	}
	ol.flex-control-nav.flex-control-thumbs{
	    position: absolute;
	    left: -140px;
	    top: 0px;
	    width: 100px;
	    li{
	    	width: 90% ;
	    	    min-width: 90%;
	    	margin-bottom: 10px;
	    }
	}
	span.onsale{
		left: 11em;
    top: 0.5em;
	}
	.summary.entry-summary {
	    float: right;
	    width: 31.5%;
	    clear: right;
	    margin-top: 0px;
	    h1.product_title.entry-title {
		    font-family: "old";
		    text-transform: uppercase;
		    font-size: 1em;
		    letter-spacing: 3px;
		}
		.quantity {
			width: 20%;
			float: left;
			margin-right: 10px;
			input {
			    width: 100%;
			    border: 1px solid #ddd;
			    border-radius: 0px;
			    padding: 0.3em 0.5em;
			    text-align: right;
			}
		}
		button.btn.btn-outline-primary {
		    background-color: #000000;
		    border: none;
		    color: #fff;
		    font-family: old;
		    font-size: 0.8em;
		    letter-spacing: 3px;
		    padding: 0.65em;
		    width: 76%;
		    border-radius: 0;
		    text-transform: uppercase;
		}
	}
	.woocommerce-tabs {
	    clear: both;
	    border-top: 1px solid #ddd;
	    display: inline-block;
	    margin-top: 2em;

	    ul.tabs {
		    width: 14%;
		    float: left;
		    min-width: 170px;
		}
		.woocommerce-Tabs-panel {
		    float: right;
		    width: 85%;
		    clear: none;
		}
	}
}